<!DOCTYPE html>
<html>
<head>
<title>F-klubbens kaffemaskine</title>
<meta charset="utf-8"/>
<style type="text/css">
tbody tr:nth-child(odd) {
  background: #eee;
}
table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}
body {
  font-family: Sans-Serif;
}
.right {
  text-align: right;
}
</style>
</head>
<body>

<header>
  <h1>F-klubbens kaffemaskine</h1>
  <p>Senest opdateret: {{update_time}}</p>
  <p>Antal loggede udleveringer: {{recent_dispense[0]}}</p>
  <p>Senest loggede udlevering: {{recent_dispense[1]}}</p>
</header>

<h2>Estimerede Fyldeforhold</h2>
<p>Hvor fyldte er vores kaffemaskine faktisk?</p>
<dl>
  {% for ingredient in ingredients %}
  <dt><label for="{{ingredient[0]}}">{{ingredient[1]}}:</label></dt>
  <dd><progress id="{{ingredient[0]}}" value="{{ingredient[2]}}" max="{{ingredient[3]}}"></progress><p>{{'%0.2f' | format(ingredient[2]|float)}} / {{'%0.2f' | format(ingredient[3]|float)}} gram</p></dd>
  {% endfor %}
</dl>

<h2>Statistik</h2>

<dl>
  <dt>Senest rengjort</dt>
  <dd>{{ general[0] }}</dd>

  <dt>Opsætningsdato</dt>
  <dd>{{ general[1] }}</dd>
  
  <dt>Total produkter udleveret</dt>
  <dd>{{ "{:,d}".format(general[2]) }}</dd>
  
  <dt>Total kaffebønner</dt>
  <dd>{{ "%.2f"|format(general[3]) }} kg</dd>
  
  <dt>Total mælk</dt>
  <dd>{{ "%.2f"|format(general[4]) }} kg</dd>
  
  <dt>Total chokolade</dt>
  <dd>{{ "%.2f"|format(general[5]) }} kg</dd>
  
</dl>

<h2>Mest populære produkter</h2>
<p>Viser en tabel over de mest populære produkter den sidste måned</p>

<table>
<thead>
  <tr>
    <th>Navn</th>
    <th class="right">Antal gange udleveret</th>
  </tr>
</thead>  
<tbody>
{% for product in recents %}
  <tr>
    <td>{{product[0]}}</td>
    <td class="right">{{product[1]}}</td>
  </tr>
{% endfor %}
</tbody>
</table>

<h2>Produkter</h2>
<table>
<thead>
  <tr>
    <th>Navn</th>
    <th class="right">Kaffebønner (g)</th>
    <th class="right">Chocolade (g)</th>
    <th class="right">Mælk (g)</th>
    <th class="right">Sukker (g)</th>
    <th class="right">Antal gange udleveret</th>
  </tr>
</thead>  
<tbody>
{% for product in products %}
  <tr>
    <td>{{product[0]}}</td>
    <td class="right">{{product[1]}}</td>
    <td class="right">{{product[2]}}</td>
    <td class="right">{{product[3]}}</td>
    <td class="right">{{product[4]}}</td>
    <td class="right">{{product[5]}}</td>
  </tr>
{% endfor %}
</tbody>
</table>

{% if historic_statistics is defined %}
<h2>Statistik ift. stregsystemet</h2>
<table>
<thead>
  <tr>
    {% for col in historic_statistics[0] %}
      {% if col is string %}
      <th class="right">{{col}}</td>
      {% else %}
        <th class="right"><abbr title="{{col[1]}} - {{col[2]}}">{{col[0]}}</abbr></td>
      {% endif %}
    {% endfor %}
  </tr>
</thead>
<tbody>
  {% for row in historic_statistics[1:]%}
  <tr>
    {% for col in row %}
      <td class="right">{{col}}</td>
    {% endfor %}
  </tr>
  {% endfor%}
</tbody>
</table>
{% endif %}

</body>
</html>


