[Unit]
Description=Coffee statistics static site generator
After=multi-user.target

[Service]
Environment="PYTHONUTF8=1"
Environment="PYTHONIOENCODING=utf-8"
Type=simple
Restart=always
User=coffee
Group=coffee
ExecStart=/home/coffee/jvm/venv/bin/python3 /home/coffee/jvm/server.py
WorkingDirectory=/home/coffee/jvm

[Install]
WantedBy=multi-user.target
