[Unit]
Description=Coffee statistics generator
After=multi-user.target

[Service]
Type=simple
Restart=always
User=coffee
Group=coffee
ExecStart=/home/coffee/jvm/venv/bin/python3 /home/coffee/jvm/server.py
WorkingDirectory=/home/coffee/jvm

[Install]
WantedBy=multi-user.target
